# Configuración de la Base de Datos (SQLite - Simple y Portable)
DATABASE_URL=sqlite:///instance/gestion_documental.db

# Configuración de Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
EMAIL_SENDER=estadisticatessa@gmail.com
EMAIL_PASSWORD=rxcd epqr gebp myhj

# Configuración de Seguridad
SECRET_KEY=tu_clave_secreta_muy_larga_y_segura_aqui_cambiar_en_produccion

# Configuración del Servidor
FLASK_ENV=development
HOST=0.0.0.0
PORT=8080

# Configuración de Archivos
UPLOAD_FOLDER=static/uploads
MAX_FILE_SIZE=16777216